/* App.css */
.main{
  text-align: center;
  width: 100vw;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center; /* Center the grid items horizontally */
  align-items: center; /* Center the grid items vertically */
}
/* App.css */
.btn {
  width: 200px; /* Adjust width as needed */
  padding: 10px 20px; /* Add padding for better appearance */
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Add cursor pointer */
  font-size: 16px; /* Font size */
}

.btn:hover {
  background-color: #555; /* Darker background color on hover */
}
